{% extends 'examples/base.html' %}

{% block title %} Dane osobowe {% endblock %}

{% block main_content %}
<h1> Widok danych osobowych</h1>
<table>
    <tr>
        <th>Imię</th><td>{{ personal_data.first_name }}</td>
    </tr>
    <tr>
        <th>Nazwisko</th><td>{{ personal_data.last_name }}</td>
    </tr>
    <tr>
        <th>Data urodzenia</th><td>{{ personal_data.date_of_birth }}</td>
    </tr>
    <tr>
        <th>Foto</th><td> {% if personal_data.photo %} <img src="{{ personal_data.photo.url }}"> {% endif %}</td>
    </tr>
</table>
{% endblock %}

